#listMessage{
    height: 200%; 
    overflow:auto;
    bottom: 0;
}
div#messengerFriend.row{
    margin-bottom: 0;
}
form#sendMessage{
    padding: 5px;
    height: 8em;
}
friend{
    border: 1px solid black;
}
.messageUser{
    background-color: green;
}
#writeMessage{
    height: 4em;
}
#listFriend{
    background-color: #101010;
    overflow: auto;
}
p.userHour{
    font-size: 1.2em;
    font-weight: bold;
    min-width: 5em;
}
.message{
    font-weight: normal;
}
#listMessage div{    
    border-radius: 20px;
}
ul#userFriendList a{
    font-size: 1em;
}
ul#userFriendList span.country{
    font-size: 0.8em;
}
ul#userFriendList a:focus, ul#userFriendList a:hover{
    background-color: #101010;
    color: white;
    font-size: 1.2em;
}
p.status{
    width: 100px;
}

/*mise en forme de la webcam */
.videoContainer {
    position: relative;
    width: 200px;
    height: 150px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.volume {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 5px;
    height: 5px;
    display: none;
}
.connectionstate {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff
}
#localScreenContainer {
    display: none;
}
@media screen and (min-width: 993px) and (max-width: 1100px){
    .profileUser.col{
        padding:0;
    }
    #listFriend{
        padding: 0;
    }
}